{#自己编写一个基类模板#}
{% extends 'layout/base.html' %}
{% block title %}登录{% endblock title %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}
{% block content %}
<div class="main-body">
    <div class="login-main">
        <div class="login-top">
            <span>PF-OBS登录</span>
            <span class="bg1"></span>
            <span class="bg2"></span>
        </div>
        <form class="layui-form login-bottom" action="javascript:void(0);">
            <div class="center">
                <div class="item">
                    <span class="icon icon-2"></span>
                    <input type="text" name="username" lay-verify="required" placeholder="请输入登录账号" value="admin" maxlength="24"/>
                </div>

                <div class="item">
                    <span class="icon icon-3"></span>
                    <input type="password" name="password" lay-verify="required" placeholder="请输入密码" value="admin" maxlength="20">
                    <span class="bind-password icon icon-4"></span>
                </div>

                <div id="validatePanel" class="item" style="width: 137px;">
                    <input type="text" name="captcha" placeholder="请输入验证码" maxlength="4">
                    <img id="refreshCaptcha" class="validateImg" src="{{ url_for('auth.get_captcha') }}">
                </div>

            </div>
            <div class="tip">
                <span class="icon-nocheck"></span>
                <span class="login-tip">保持登录</span>
            </div>
            <div class="layui-form-item" style="text-align:center; width:100%;height:100%;margin:0px;">
                <button class="login-btn" lay-submit="" lay-filter="login">立即登录</button>
            </div>
        </form>
    </div>
</div>
<div class="footer">
    ©版权所有 2014-2018 叁贰柒工作室<span class="padding-5">|</span><a target="_blank" href="http://www.miitbeian.gov.cn">粤ICP备16006642号-2</a>
</div>
{% endblock %}
{% block scripts %}
<!-- 引入 layui.js -->
{{ super() }}
<script>
    layui.use(['form', 'jquery', 'layer'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let layer = layui.layer;
        let captchaPath = "{{ url_for('auth.get_captcha') }}";
        $('.bind-password').on('click', function () {
            if ($(this).hasClass('icon-5')) {
                $(this).removeClass('icon-5');
                $("input[name='password']").attr('type', 'password');
            } else {
                $(this).addClass('icon-5');
                $("input[name='password']").attr('type', 'text');
            }
        });

        $('.icon-nocheck').on('click', function () {
            if ($(this).hasClass('icon-check')) {
                $(this).removeClass('icon-check');
            } else {
                $(this).addClass('icon-check');
            }
        });

        // 进行登录操作
        form.on('submit(login)', function (data) {
            data = data.field;
            if (data.username === '') {
                layer.msg('用户名不能为空', {icon: 2});
                return false;
            }
            if (data.password === '') {
                layer.msg('密码不能为空', {icon: 2});
                return false;
            }
            if (data.captcha === '') {
                layer.msg('验证码不能为空', {icon: 2});
                return false;
            }
            let loader = layer.load();
            //let btn = button.load({elem: '.login'});
            $.ajax({
                data: data,
                type: "post",
                dataType: 'json',
                success: function (result) {
                    layer.close(loader);
                    console.log(result);
                    // btn.stop(function () {
                    if (result.code !== 200) {
                        document.getElementById("refreshCaptcha").src = captchaPath + "?" + Math.random();
                        layer.msg(result.msg, {icon: 2})
                        // popup.success(result.msg, function () {
                        //     location.href = "{{ url_for('main.index') }}";
                        // })
                    } else {
                        layer.msg(result.msg, {icon: 1})
                        setTimeout(function () {
                            location.href = "{{ url_for('main.index') }}";
                        })
                        // location.href = "{{ url_for('main.index') }}";
                    }
                }
            });
            return false;
        });

        $('#refreshCaptcha').on('click', function () {
            document.getElementById("refreshCaptcha").src = captchaPath + "?" + Math.random();
        })
        setInterval(function () {
            document.getElementById("refreshCaptcha").src = captchaPath + "?" + Math.random();
        }, 30 * 1000);
    });

</script>
{%- endblock scripts %}