{% extends 'layout/admin_base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" media="all">
{% endblock styles %}
{% block content -%}
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名</label>
                <div class="layui-input-inline">
                    <input type="text" name="roleName" placeholder="" class="layui-input">
                </div>
                <label class="layui-form-label">角色标识</label>
                <div class="layui-input-inline">
                    <input type="text" name="roleCode" placeholder="" class="layui-input">
                </div>
                <button class="layui-btn" lay-submit lay-filter="role-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="layui-btn layui-btn-normal">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="role-table" lay-filter="role-table"></table>
    </div>
</div>
<script type="text/html" id="role-bar">
    {% if authorize("admin:role:edit") %}
        <button class="layui-btn  layui-btn-sm" lay-event="edit"><i
                class="layui-icon layui-icon-edit"></i>
        </button>
    {% endif %}
    {% if authorize("admin:role:power") %}
        <button class="layui-btn layui-btn-warm layui-btn-sm" lay-event="power"><i
                class="layui-icon layui-icon-vercode"></i>
        </button>
    {% endif %}
    {% if authorize("admin:role:remove") %}
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove"><i
                class="layui-icon layui-icon-delete"></i>
        </button>
    {% endif %}
</script>
{%- endblock content %}
{% block scripts %}
{{ super() }}
<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table
        let form = layui.form
        let $ = layui.jquery
        let MODULE_PATH = '/admin/role/'
        let cols = [
          [
            {% if authorize("admin:role:remove") %}
              { type: 'checkbox' },
            {% endif %}
            { title: '角色名', field: 'roleName', align: 'center', width: 100 },
            { title: 'Key值', field: 'roleCode', align: 'center' },
            { title: '描述', field: 'details', align: 'center' },
            { title: '是否可用', field: 'enable', align: 'center', templet: '#role-enable' },
            { title: '排序', field: 'sort', align: 'center' },
            { title: '操作', toolbar: '#role-bar', align: 'center', width: 195 }
          ]
        ]
        table.render({
              elem: '#role-table',
              url: MODULE_PATH + 'data',
              page: true,
              cols: cols,
              skin: 'line',
              toolbar: '#role-toolbar',
              defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
              }, 'filter', 'print', 'exports']
        })
        form.on('submit(role-query)', function (data) {
          table.reload('role-table', { where: data.field })
          return false
        })
        table.on('toolbar(role-table)', function (obj) {
              if (obj.event === 'add') {
                window.add()
              } else if (obj.event === 'refresh') {
                window.refresh()
              } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj)
              }
         })
    })
</script>
{% endblock scripts %}